.footer {
    width: 100%;
    padding: 30px 0;
    background-color: black;
    text-align: center;
    line-height: 1.5;
}
.footer__line1, .footer__line1 a {
    color: #fff;
    font-size: 18px;
}

.footer__line2, .footer__line2 a {
    color: hsla(0, 0%, 100%, 0.67);
    font-size: 14px;
}
.footer__line3 {
    color: hsla(0, 0%, 100%, 0.67);
    font-size: 14px;
}
.footer__line3 a {
    color: white;
    font-size: 14px;
}

@media (max-width: 420px) {
    .footer__line1, .footer__line1 a {
        font-size: 13px;
        letter-spacing: 0.1px;
    }
    .footer__line2, .footer__line2 a, .footer__line3, .footer__line3 a {
        font-size: 10px;
    }
}